html, body, #root, .App {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  color: #6f6f6f;
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.2em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
