.menuItemsContainer {
  display: grid;

  grid-template-columns: 330px 330px;
  grid-gap: 20px;

  padding: 0 35px;
  margin-bottom: 25px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* width: 275px; */
  height: 100px;

  /* margin: 20px 20px; */
  padding: 20px;

  border: #ccc solid 0.75px;
  border-radius: 10px;
}

.cardHeader {
  margin: 0;
}

.cardDescription {
  /* margin: 0; */

  /* overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; */

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardPrice {
  margin: 0;
}
