.navOptContainer {
  display: flex;
  flex-direction: column;
}

.mainSection{
  display:flex;
  margin: 30px 7%;

}

.menuContainer{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.tempCheckout{
  width: 375px;
  height: 300px;
  border: gray solid 2px;
  border-radius: 20px;
}