.navOptContainer {
  position: sticky;
  top: 0;

  display: flex;
  flex-direction: column;

  width: 100%;
}

.mainSection {
  display: grid;
  grid-template-columns: auto 300px;

  margin: 30px 7%;
}

.category{
  padding-left: 60px;
}

.menuContainer {
  display: flex;
  flex-direction: column;
}

.tempCheckoutContainer {
  display: flex;
  justify-content: center;
}
.tempSummary {
  position: fixed;

  width: 300px;
  height: 300px;

  margin-top: 70px;

  border: #ccc solid 2px;
  border-radius: 20px;
}
