.navbar {
  background-color: #fff;
  border-bottom: 1px solid #f0f0f0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 48px;
  margin: 0 32px;
  padding: 8px 0;
}

.companyName {
  color: #181818;
  font-family: Montserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 4px;
}

.authenticationSection{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loginBtn {
  margin-right: 10px;

  cursor: pointer;
  border: none;
  outline: none;
  background-color: inherit;
  color: #381f7a;
  font-weight: 700;

}

.loginBtn i {
  margin-right: 6px;
  font-size: 20px;
  color: #381f7a;
}

.signUpBtn {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: inherit;
  color: #381f7a;
  font-weight: 700;
}

.signUpBtn i {
  margin-right: 6px;
  font-size: 20px;
  color: #381f7a;
}

